# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Uploads and temporary files
uploads/
temp/

# Build artifacts
dist/

# Editor files
.vscode/
.idea/
*.swp
*.swo
